{% extends "todo_app/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% include "todo_app/includes/messages.html" %}
            {% if submitted %}
                <p class="success">
                    Your info was submitted successfully. Thank you.
                </p>
            {% else %}
                {% include "todo_app/includes/regular_table_form.html" %}
                {% if tags%}
                    <div class="input_form text-center" id="form_id" style="margin: 10px 0 0 0">
                        <p><strong>Tags:</strong></p>
                    </div>
                    <div class="list" id="list_id"></div>
                    <div id="tag_container" hidden>
                        {% for tag in tags %}
                            <p class="tag_item">{{ tag.title }};</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-3"></div>
    </div>

<script src="{% static 'js/tag_cloud.js' %}"></script>
{% endblock content %}
