{% extends "todo_app/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% include "todo_app/includes/messages.html" %}
            <div class="card border-primary mb-3 text-center">
                <div class="card-header text-center">
                    <h3 class="card-title-center"><b>Login</b></h3>
                </div>
                <div class="card-body" style="display: -webkit-flex">
                    <form method="POST">
                        {% csrf_token %}
                        {{ login_form }}
                        <button class="btn btn-primary" style="margin: 10px 0 10px 10px" type="submit">
                            Login
                        </button>
                        <p class="text-center">
                            If you don't have an account, <a href="{% url 'register' %}">Sign Up</a> instead
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
