{% extends "todo_app/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% include "todo_app/includes/messages.html" %}
            <div class="card border-primary mb-3">
                <div class="card-header text-center">
                    <h3 class="card-title-center"><b>Registration</b></h3>
                </div>
                <div class="card-body" style="display: -webkit-flex">
                    <form method="POST">
                        {% csrf_token %}
                        {{ register_form }}
                        <div class="text-center">
                            <button class="btn btn-primary text-center" style="margin: 10px 20px 10px 10px" type="submit">
                                Register
                            </button>
                        </div>
                        <p class="text-center">
                            If you already have an account, <a href="{% url 'log_in' %}">Login</a> instead
                        </p>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
