{% extends "todo_app/base.html" %}

{% block content %}

    {% include "todo_app/includes/messages.html" %}

    <div class="container">
        <h1>Registration</h1>
         <!-- TODO Artem: Make form NICE-->
        <form method="POST">
            {% csrf_token %}
            {{ register_form }}
            <button class="btn btn-primary" type="submit">
                Register
            </button>
        </form>

        <p class="text-center">
            If you already have an account,
            <a href="{% url 'log_in' %}">Login</a>
            instead
        </p>
    </div>

{% endblock %}