<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <div class="card text-center">
          <div class="card-header">
              {{ todoitem.assignee.name }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ todoitem.title|title }}</h5>
            <p class="card-text">{{ todoitem.content|truncatewords:15 }}</p>
            <a href="{{ todoitem.get_absolute_url }}" class="btn btn-primary">Read</a>
          </div>
          <div class="card-footer text-muted">
              {% for tag in todoitem.tags.all %}
{#                <a href="{% url 'get_todoitems' tag=tag %}">#{{ tag }}</a>#}
                  <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
              {% endfor %}
          </div>
        </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
