<div class="row">
    <div class="col-4"></div>
    <div class="col-sm-4">
        <div class="form-group">
            <select id="select_group" name="select_group" class="form-control">
              <option value="all_groups" selected>All Groups</option>
              {% for group in groups %}
                <option id="{{ group.title }}" value="{{ group.title }}">{{ group}}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-4"></div>
</div>