<div class="modal" id="operationModal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title"></h5>
        <button id="modal_small_close_button" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modal_paragraph"></p>
      </div>
      <div class="modal-footer">
        <button id="modal_operation_button"
                type="button" class="btn btn-warning"
                style="margin: 0 10px 0 0;">
            Delete
        </button>
        <button id="modal_close_button"
                type="button" class="btn btn-secondary"
                style="margin: 0 0 0 5px;">
            Close
        </button>
      </div>
    </div>
  </div>
</div>