<div group_title="{{ todoitem.group.title }}" class="row">
    <div class="col-3"></div>
        <div class="col-6">
            <div class="card text-center main">
                <div class="card-header">
                    {% with dt=todoitem.creation_date %}
                        <div>Created at: {{ dt|date:"d M Y" }} {{ dt|date:"H:i" }}</div>
                    {% endwith %}
                    <div>Created by: {{ todoitem.owner.username }}</div>
                    <div>Assigned to: {{ todoitem.assignee.username }}</div>
                    <div>Group: {{ todoitem.group }}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ todoitem.title|title }}</h5>
                    <p class="card-text">{{ todoitem.content|truncatewords:15 }}</p>
                    <a href="{{ todoitem.get_absolute_url }}" class="btn btn-primary">Read Full</a>
                </div>
                <div class="card-footer text-muted">
                    {% for tag in todoitem.tags.all %}
                        {#<a href="{% url 'get_todoitems' tag=tag %}">#{{ tag }}</a>#}
                        <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    <div class="col-3"></div>
</div>
